#card {
  width: 200px;
  height: 300px;
  border: 2px solid black;
  border-radius: 10px;
  position: relative;
  margin: 0 auto;
  box-shadow: 7px 7px 7px rgba(0, 66, 153, 0.908);
  border: 2.5px solid rgba(23, 24, 24, 0.638);
  box-sizing: border-box;
}

#top-left {
  position: absolute;
  top: 25px;
  left: 10px;
}

#middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#middle .suit {
  font-size: 120px;
  line-height: 0;
  margin-top: -5px;
}

#bottom-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#bottom-right .value {
  transform: rotate(180deg);
}

#bottom-right .suit {
  transform: rotate(180deg);
}

.value {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
}

.suit {
  font-size: 40px;
  text-align: center;
  line-height: 0;
  margin-top: -10px;
  margin-bottom: 5px;
}

.suit.heart, .suit.diamond {
  color: red;
}

.suit.spade, .suit.club {
  color: black;
}

button {
  margin-top: 20px;
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #021a1b47;
  color: rgb(253, 253, 255);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4caaf2;
}

#timer {
  font-size: 75px ;
  font-weight: bold ;
  color: red;
  text-align: center;
  border: 5px solid rgb(255, 0, 0);
  padding: 10px;
  display: inline-block;
  box-shadow: 7px 7px 7px rgba(232, 40, 15, 0.814);
}
.flip-in {
  animation-name: flipIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes flipIn {
  from {
    transform: rotateY(360deg);
    opacity: 0;
  }
  to {
    transform: rotateY(0deg);
    opacity: 1;
  }
}
.red {
  box-shadow: 0 0 300px rgba(255, 0, 0, 0.5);
}

.black {
  box-shadow: 0 0 300px rgba(0, 0, 0, 0.5);
}
